      
  <div id="banner">
    <ul id="homepage-banner">
      <li><article>
        <%= image_tag "planardl-homepage.jpg" %>
        <h1>Motion on a Higher <b>Plane</b></h1>
        <p>The <a href="/product-catalog/stages/linear-x-y-stages/planardl.aspx">Planar<sub>DL</sub></a> integrated, low-profile, XY, linear-motor stage is taking XY motion to another level.</p>
        <p><a href="/product-catalog/stages/linear-x-y-stages/planardl.aspx" class="more-link">Unparalleled Geometric Performance&nbsp;&raquo;</a></p>
      </article></li>
    </ul>
  </div><!-- /#banner -->

      
  <div id="main" class="homepage">
   <div id="features-container"><article class="first">
     <h1><a href="/product-catalog.aspx">Precision Craftsmanship</a></h1>
     <figure>
       <a href="/product-catalog.aspx" style="background: url(<%= image_url 'products-feature.jpg' %>) no-repeat left top"><%= image_tag("products-feature.jpg") %></a>
     </figure>
     <p>
       We strive to make Aerotech quality exceed your expectations. From our motors, drives and <a href="/product-catalog/motion-controller.aspx">motion controllers</a> to our most sophisticated multi-axis positioning systems, we design and manufacture each element with quality as our goal.
     </p>
     <p>
       <a class="more-link" href="/product-catalog.aspx">
       Explore Product Catalog&nbsp;&raquo;
       </a>
     </p>
     </article><article class="">
     <h1><a href="/custom-solutions.aspx">Custom Engineering</a></h1>
     <figure>
       <a href="/custom-solutions.aspx" style="background: url(<%= image_url 'engineering-feature.jpg' %>) no-repeat left top"><%= image_tag("engineering-feature.jpg") %></a>
     </figure>
     <p>
       Aerotech’s deep knowledge translates into a range of custom solutions, from minor stock revisions to complete re-imagining of your production approach.
     </p>
     <p>
       <a class="more-link" href="/custom-solutions.aspx">
       Learn About Custom Solutions&nbsp;&raquo;
       </a>
     </p>
     </article><article class="last">
     <h1><a href="/industries-and-applications.aspx">Domain Expertise</a></h1>
     <figure>
       <a href="/industries-and-applications.aspx" style="background: url(<%= image_url 'industries-feature.jpg' %>) no-repeat left top"><%= image_tag("industries-feature.jpg") %></a>
     </figure>
     <p>
       Aerotech engineers bring decades of industry experience to each customer interaction, from the big questions surrounding <a href="/applications/nanopositioning.aspx">nanotechnology</a> and its application, to precise <a href="/product-catalog/motion-controller.aspx">motion control</a> improvements that are changing aerospace, medical manufacturing, laser machining and a myriad of other industries that rely on accurate, high-performance motion.
     </p>
     <p>
       <a class="more-link" href="/industries-and-applications.aspx">
       View all Industries & Applications&nbsp;&raquo;
       </a>
     </p>
     </article></div>
   <div class="sub">
   <section class="first one-of-3">
   
     <h1>Global Service & Support</h1>
     <figure>
      <%= image_tag "global-support-map.jpg" %>
     </figure>
     
       <h2>Anytime. Anywhere.</h2>
     
     <p>
       Aerotech began as a pledge — to advance the science of precision <a href="/product-catalog/motion-controller.aspx">motion control</a> with a focus and dedication far beyond what a business plan or profit and loss statement could measure.  Today, Aerotech stands as the world’s only privately held, globally active, engineering-driven company <em>Dedicated to the Science of Motion</em>.
     </p>
     <p>
       <a class="more-link" href="/service-and-support.aspx">
       Learn More About Service & Support&nbsp;&raquo;
       </a>
     </p>
   
   </section>
   
   <section class="last two-of-3">
     <h1>Update Central</h1>
     <div class="tabs">
         <section class="press-releases">
           <h1>Press Releases</h1>
           <ul>
         
           <li>
             <article>
               <time datetime="2014-01-27">January 27, 2014</time>
               <h1><a href="/about-aerotech/press-releases/all-press-releases/english/aerotech-united-kingdom-moves-to-new-and-larger-facility.aspx">Aerotech United Kingdom Moves to New and Larger Facility</a></h1>
             </article>
           </li>
         
           </ul>
           <p>
             <a href="/about-aerotech/press-releases.aspx" class="more-link">View All Press Releases&nbsp;&raquo;</a>
           </p>
         </section>
         
       
       
       
         <section class="in-the-news">
           <h1>In The News</h1>
           <ul>
         
           <li>
             <article>
               <time datetime="2013-09-27">September 27, 2013</time>
               <h1><a href="http://www.controldesign.com/articles/2013/deterministic-motion-required/">Deterministic Motion Required</a></h1>
               <p class="publication">
                 Publication: Control Design
               </p>
             </article>
           </li>
         
           </ul>
           <p>
             <a href="/about-aerotech/in-the-news.aspx" class="more-link">View All Articles&nbsp;&raquo;</a>
           </p>
         </section>
         
       
       
         <section class="events">
           <h1>Events</h1>
           <ul>
         <li>
            <article itemscope itemtype="http://schema.org/Event">
              <div class="date-country">
                <time itemprop="startDate" datetime="2014-03-26">March 26&ndash;27, 2014</time>
                <p>USA</p>
              </div>
              
              <a itemprop="url" href="http://www.canontradeshows.com/expo/bioboston13/">
              <h1 itemprop="name">BIOMEDevice Boston</h1>
              </a>
              
              <div itemprop="location" itemscope itemtype="Place">
                <p itemprop="name">Boston Convention Center, #1115</p>
                <p class="address" itemprop="address">
                <span itemprop="addressLocality" class="locality">Boston</span>, 
                <span itemprop="addressRegion" class="region">MA</span>
                <span itemprop="addressCountry" class="country">USA</span>
                </p>
              </div>
             </article>
          </li>
           </ul>
           <p>
             <a href="/about-aerotech/events.aspx" class="more-link">View All Upcoming Events&nbsp;&raquo;</a>
           </p>
         </section>
         
       
         <section class="videos">
           <h1>Videos</h1>
           <ul>
         
           <li class="even">
             <article>
               <figure>
                 <a href="/about-aerotech/video-library/videos/4-axis-laser-processing-with-nmark-ssam.aspx">even</a>
               </figure>
               <h1><a href="/about-aerotech/video-library/videos/4-axis-laser-processing-with-nmark-ssam.aspx">4-Axis Laser Processing With Nmark SSaM</a></h1>
             </article>
           </li>
         
           <li class="odd">
             <article>
               <figure>
                 <a href="/about-aerotech/video-library/videos/synchronized-galvo-scanner-and-servo-motion-control-nmark-ssam.aspx">odd</a>
               </figure>
               <h1><a href="/about-aerotech/video-library/videos/synchronized-galvo-scanner-and-servo-motion-control-nmark-ssam.aspx">Synchronized Galvo Scanner and Servo Motion Control - Nmark SSaM</a></h1>
             </article>
           </li>
         
           </ul>
           <p>
             <a href="/about-aerotech/video-library.aspx" class="more-link">View full Video Library&nbsp;&raquo;</a>
           </p>
         </section>
     </div>
   </section>
   </div>
   </div><!-- /#main -->