<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="grid_order">
  <tbody>
    <tr>
      <td width="10%">名称:</td>
      <td width="50%"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td width="10%">图片:</td>
      <td width="50%"><%= f.file_field :pic %></td>
    </tr>
    <tr>
      <td width="10%">父类型:</td>
      <td width="50%"><%= f.select :parent_id, Category.all.map {|x| [x.name, x.id] }, {include_blank: ''} %></td>
    </tr>
    <tr>
      <td width="10%">描述:</td>
      <td width="50%"><%= f.kindeditor :description, :window_onload => true %></td>
    </tr>
    <tr>
      <td width="10%"></td>
      <td width="50%"><%= f.submit "提交" %></td>
    </tr>
   </tbody>
  </table>
<% end %>
